<!DOCTYPE html>
<html>
<head>
<title> Basic Banking system</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/css/style.css">
	
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">

</head>
<body>
<header>
	<!-- NAV-BAR  starts-->
	<nav class="hmnav navbar navbar-expand-lg navbar-light bg-dark">
		<div class="container-fluid">
			<a href="/" class="pull-left"><img width="40" height="30" src="/images/1.jpg"></a> 
		
		 
		  <div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
			  <li class="nav-item">
				<a class="nav-link headerlink text-white" aria-current="page" href="/">Home</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link headerlink text-white " href="/customers"><img src="/images/customer.jpg" width="40" height="30" >Customers</a>
			  </li>
			  <li class="nav-item">
				<a class=" nav-link headerlink text-white " href="/transferhistory"><img src="/images/transactions.jpg" width="40" height="30" >Transfer History</a>
			  </li>
			  
			</ul>
		  </div>
		</div>
	  </nav>












	
	<!-- NAV-BAR  ends-->
</header>